# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Environment variables and configuration
.env
*.properties
!src/main/resources/*.properties

# IDE files
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.vscode/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# JVM crash logs
hs_err_pid*

# Application specific
*.db 